html, body, p, ul, li, a, h2, h3{
padding:0;
border:0;
margin:0;    
}




/*jumbotron*/
.jumbotron {
background-image:url("http://drive.google.com/uc?export=view&id=0ByOQ37_AO4nRNXdzN2NScHZBdEE");
height:1000px;
background-repeat:no-repeat;
background-size:cover;
border-bottom: solid #888888 1px;
}


span{
   color:white;
   text-shadow: 2px 2px 5px #113e3e;
   font-family: "Bree Serif"; 
  } 


.signmeup{
padding:30px 225px 110px 60px;

}
.logo{
margin-top:300px;    
float:right;
text-align: center;
position:relative;    
}

.jumbotron h2.pos_right{  
font-family: "Bree Serif";
position:relative;
color:#fff;
text-shadow: 2px 2px 5px #113e3e;
}


/*Sign-Up*/
.signup{
font-family: "Bree Serif";
font-size:50px;
color:#fff;
text-transform:uppercase;
text-shadow: 2px 2px 5px #113e3e;
position:relative;
}

/*Sign up form*/

/* SIGNUP BAR
input[type=email] {
    -webkit-border-radius:5px;
    border-radius:5px;
    border:2px rgba(0,0,0,0.6) solid;          
    background-color: #FFFfff;      
    width:500px;
    padding:5px 5px 5px 5px;
    margin: auto;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #000000;     
    text-align: left;
}
input[type=email]::-webkit-input-placeholder{
    color: rgba(47, 130, 194, 0.3);
}
*/

/*SIGNUP BUTTON*/
input[type=submit] {
    
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px #196464 solid;
    background-color: #1db37c;
    display:inline-block;
    padding: 10px 65px 10px 65px;  
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #fff;     
    text-align: center;
}



/*Mission Statement*/
.mission{
font-family: "Lato";
background-color:#1db37c;
color:#fff;
font-size:24px;
height:1000px;
padding-top:300px;
padding-bottom:300px;
margin-top: -30px;
border-bottom: solid #888888 1px;
}




/*Beneficiaries*/
.glyph{
text-align:center;
}


.glyphicon{
font-size:60px;
color:#E6005C;
}

.information a{
float:right;
margin-top:-50px;
color:#fff;
text-decoration:none;
}

.information {
font-family: "Lato";
background-color:#fff;
color:#1db37c;
text-align:left;
font-size:16px;
padding-top:300px;
padding-bottom:300px;
text-decoration: none;
border-bottom: solid #888888 1px;
}


.information h3{
text-align: center;
font-family:"Bree Serif";
}




/*Testimonials*/

.testimonials{
background-color:#1db37c;
border-bottom: solid #888888 1px;
height:1000px;   
}


.testimonials a{
float:right;
color:#1db37c;
text-decoration: none;
}


.testimonials p{
font-family: "Bree Serif";
font-size:50px;
color:#fff;
text-align:center;
text-transform:uppercase;
text-shadow: 2px 2px 5px #113e3e;
padding-top:450px;
padding-bottom: 450px;

}




/* Who We Are*/

.who {
background-color:#fff;
color:#1db37c;
padding-top:400px; 
padding-bottom:400px;
text-align:center;
font-size:16px;
font-family: "Lato";
border-bottom: solid #888888 1px;
}


.who h3{
font-family:"Bree Serif";
color:#E6005C;
}    


.img-circle {
width:200px;
height:200px;
border-radius:100px;
box-shadow: 1px 2px 5px #888888;
}




/*Contact us*/
.contact {
background-color:#1db37c;
color:#fff;
text-align:center;
font-size:16px;
height:1000px;
padding-top:200px;
padding-bottom:200px;
font-family: "Lato";
}

#contact-area {
    width: 600px;
    margin-top: 25px;
}

#contact-area input, #contact-area textarea {
    padding: 5px;
    width: 471px;
    font-family: "Lato", sans-serif;
    font-size: 1.4em;
    margin: 0px 0px 10px 0px;
    border: 2px solid #ccc;
}

#contact-area textarea {
    height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
    border: 2px solid #900;
}

#contact-area input.submit-button {
    width: 100px;
    float: right;
}

label {
    float: left;
    text-align: right;
    width: 100px;
    padding-top: 5px;
    font-size: 22px;
}

/*Footer*/
#footer {
height:25px;
margin-top:25px;
border-radius:10px;
background-color:rgba(0,0,0,0.7);
font-family:"Lucida Sans Unicode", "Tahoma", sans-serif;
font-size:15px;
color:#FFF;
text-align:center;
display:block;
}


/*nav bar*/
.navbar{    
background-color:transparent; 
background:transparent;
font-size:15px;
font-family: "Bree Serif";
text-decoration: none; 
border-color:transparent;
}

.navbar-logo{
font-color:#fff;    
text-transform:uppercase;
text-decoration: none;
font-size:20px;
}    

.nav li{
font-family: "Lato";    
text-transform:uppercase;
text-decoration: none;
font-color:#fff; 
}





/*Search Quotes Form
.search_form{
position:auto;
vertical-align: center;
background-color:#1db37c;
color:#fff;
font-size:24px;
padding:200px;
border-bottom: solid #888888 1px;
}

input[type=search] {
    -webkit-border-radius:5px;
    border-radius:5px;
    border:2px rgba(0,0,0,0.6) solid;
    background-color: #FFF;
    width:575px;
    display:inline-block;
    padding:5px 5px 5px 5px;
    font-family:"Inherit", sans-serif;
    font-size: 16px;
    color: #000000;  
    text-align: left;
    box-shadow: 0px 1px 2px #292914;
    }


input[type=search]::-webkit-input-placeholder{
    color: rgba(47, 130, 194, 0.3);
}


input[type=button] {
    position:relative;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:2px rgba(0,0,0,0.6) solid;
    background-color: #FFFfff;
    display:inline-block;
    padding:5px 10px 5px 10px;   
    margin: 10px 10px 10px 1px;
    font-family:"Inherit", sans-serif;
    font-size: 15px;
    color: #1db37c;      
    text-align: center;
    box-shadow: 0px 1px 2px #292914;
}


input::-webkit-input-placeholder {
    font-family:"Inherit", sans-serif;
    color:#1db37c;
 }
*/